# --- App ---
SPRING_APP_NAME=db_auth
SERVER_PORT=8081
JPA_SHOW_SQL=false
SEED_ENABLED=true

# --- Database (Railway inyecta DATABASE_URL en este formato) ---
# En local docker compose se usan los de más abajo
DATABASE_URL=jdbc:postgresql://localhost:5432/db_auth
DATABASE_USERNAME=adriano
DATABASE_PASSWORD=password123

# --- Seed (usuario admin inicial) ---
SEED_ADMIN_EMAIL=admin@contreras.com
SEED_ADMIN_PASSWORD=admin123
SEED_ADMIN_NAME=ADMINISTRADOR